<launch>
  <arg name="use_external_renderer" default="0" />
  <arg name="ignore_collisions" default="false" />
  <arg name="render_stereo" default="1" />
  <arg name="level"/>
  <arg name="gate_locations" default="0"/>
  <env name="CWD" value="$(env PWD)" />
     
  <group ns="/control_nodes">
    <!-- Start human teleoperation nodes -->
    <node name="keyboard" pkg="keyboard" type="keyboard"/>
    <node name="universal_teleop" pkg="universal_teleop" type="universal_teleop" output="screen">
      <rosparam file="$(find universal_teleop)/launch/example_input_map.yml"/>

      <remap from="output/rateThrust" to="/uav/input/rateThrust"/>
      <remap from="output/takeoff" to="/uav/input/takeoff"/>
      <remap from="output/land" to="/uav/input/land"/>
      <remap from="output/reset" to="/uav/input/reset"/>
    </node>
  </group>

  <!--include core flightgoggles launch file-->
  <include file="$(find flightgoggles)/launch/core.launch">
    <arg name="use_external_renderer" value="$(arg use_external_renderer)"/>
    <arg name="render_stereo" value="$(arg render_stereo)"/>
    <arg name="ignore_collisions" value="$(arg ignore_collisions)"/>
    <arg name="gate_locations" value="$(arg gate_locations)"/>
  </include>

  <node name="reporter" pkg="flightgoggles_reporter" type="reporter.py" output="screen" cwd='node' required="true"/>
  <!-- Launch override settings. Must be placed at end of file to override params set in core launchfile. -->

  <!--For teleoperation, run dynamics in real time-->
  <param name="/use_sim_time" value="true" />
  <group ns="/uav"> 
    <rosparam command="load" file="$(find flightgoggles)/config/challenges/gate_locations_$(arg gate_locations).yaml"/>
    <rosparam command="load" file="$(find flightgoggles)/config/challenges/challenge_final.yaml"/>  
  </group>

 <group ns="/Drobot"> 
       <node name="orb_slam2_stereo" pkg="orb_slam2_ros"
      type="orb_slam2_ros_stereo" args="
	  $(find orb_slam2_ros)/orb_slam2/Vocabulary/ORBvoc.txt
	  $(find orb_slam2_ros)/orb_slam2/config/RealSenseR200Stereo.yaml"
      output="screen">
       <remap from="image_left/image_color_rect" to="/uav/camera/left/image_rect_color" />
       <remap from="image_right/image_color_rect" to="/uav/camera/right/image_rect_color" />

       <param name="publish_pointcloud" type="bool" value="true" />
       <param name="pointcloud_frame_id" type="string" value="map" />
       <param name="camera_frame_id" type="string" value="camera_link" />
       </node>
       <arg name="node_start_delay_one" default="2.0" />  
       <node name="test_IMU" pkg="control" type="test_IMU.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay_one); $0 $@' " />
       <arg name="node_start_delay" default="10.0" />  
       <node name="leaderboard" pkg="control" type="leaderbord_groundtruth_v3.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " /> 
   </group>
 </launch>




